/* 字体设置 */
@font-face {
    font-family: 'FZCSJW';
    src: url('../font/FZCSJW.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FZCSFW';
    src: url('../font/方正粗宋繁体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../font/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 全局样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    color-scheme: light;
    color: var(--theme-font-color);
    --theme-color: #a52a2a;
    --theme-font-color:#380e0e;
    --el-color-primary: #a52a2a !important;
}

/* 去除默认样式 */
/*ul, ol {*/
/*    list-style: none;*/
/*}*/

::selection {
  background-color: rgba(165, 42, 42, 0.8); /* 选中文字的背景颜色 */
  color: #fff;           /* 选中文字的文本颜色 */
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input, button, textarea {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}
