/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fffffa !important;
}
:root{
    color-scheme: light;
    --el-color-primary: #ff82ba !important;
}
.el-menu-item:hover,.el-menu-item:focus{
    backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.el-overlay.is-message-box .el-overlay-message-box{
    padding: 0 !important;
}
.el-menu{
    background-color: rgba(255, 255, 255, 0) !important;
}
/*.is-focus ,*/
.el-cascader, .el-tooltip__trigger, .el-tooltip__trigger, .el-input,.el-input--suffix, .el-input__wrapper{
    font-size: 20px;
    color: black !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.el-cascader{
    width: 110px;
}
.el-input__inner{
    color: black !important;
}
.el-cascader:hover{
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.el-checkbox__input .is-focus{
    width: 0 !important;
}


/* Ensure
 the html and body take full height */
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif; /* 或其他你喜欢的字体 */
    line-height: 1.6;
}

/* Remove bullet points and other default styles from lists */
ul, ol {
    list-style: none;
}

/* Anchor tags reset */
a {
    text-decoration: none;
    color: inherit;
}

/* Image reset */
img {
    max-width: 100%;
    display: block;
}

/* Button reset */
button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Table reset */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Remove default input and button styles */
input, button, textarea {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

/* Prevent scrollbars on overflow */
html {
    /*overflow: hidden;*/
}

/* Optional: Hide scrollbar but allow scroll */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
