/* 基本输入框和按钮样式 */
.el-cascader, .el-tooltip__trigger, .el-input, .el-input--suffix, .el-input__wrapper {
    font-size: 20px;
    color: black !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.el-cascader {
    width: 110px;
}

.el-cascader:hover, .el-cascader .el-input__inner {
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
}

.el-cascader .el-input__inner {
    color: black !important;
}

/* 主菜单和按钮样式 */
.el-menu-item:hover, .el-menu-item:focus {
    backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.el-overlay.is-message-box .el-overlay-message-box {
    padding: 0 !important;
}

.el-menu {
    background-color: rgba(255, 255, 255, 0) !important;
}

.el-checkbox__input .is-focus {
    width: 0 !important;
}
